<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      body {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Hello from abc<%= name %></h2>
  </body>
</html>
